{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}
        {% block stylesheets %}
            {{ parent() }}
            {{ encore_entry_link_tags('home') }}
        {% endblock %}

        {% block javascripts %}
            {{ parent() }}
            {{ encore_entry_script_tags('home') }}
        {% endblock %}

{% block body %}
<div id="app">

</div>
{% endblock %}
