{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('register') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('register') }}
        {% endblock %}

{% block body %}
    <div id="app">

    </div>

{% endblock %}
