.wide-button{
  border-radius: 50rem;
  font-family: $button-family;
  font-size: 1.125rem;
  height: auto;
  padding-top: 1.438rem;
  padding-bottom: 1.438rem;
  text-transform: uppercase;
  width: 25rem;
}
